<div _ngcontent-dkp-c85="" class="card ng-tns-c85-46 ng-trigger ng-trigger-cardRemove" style="opacity: 1;">
    <div _ngcontent-dkp-c85="" class="card-header ng-tns-c85-46 ng-star-inserted" style="">
       <h5 _ngcontent-dkp-c85="" class="ng-tns-c85-46 ng-star-inserted">Prices</h5>
       <!----><!---->
       <div _ngcontent-dkp-c85="" class="card-header-right ng-tns-c85-46 ng-star-inserted">
         <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search by Ticker"
              (keyup)='keyUp.next($event)'
            />
          </div>
       </div>
       <!----><!---->
    </div>
    <!---->
    <div _ngcontent-dkp-c85="" class="ng-tns-c85-46 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;">
       <div _ngcontent-dkp-c85="" class="card-body ng-tns-c85-46 table-border-style ng-star-inserted" style="">
          <div  class="table-responsive ng-tns-c85-46">
             <table  class="table table-striped">
                <thead >
                   <tr >
                      <th >Rank #</th>
                      <th >Image</th>
                      <th >Name</th>
                      <th >Ticker</th>
                      <th >Rate</th>
                      <th >Contract Address</th>
                   </tr>
                </thead>
                <tbody >
                   <tr *ngFor="let tokenInfo of tokens">
                      <td >{{tokenInfo.rank}}</td>
                      <td ><img src="{{tokenInfo.logo_url}}" height="28" width="28" /></td>
                      <td >{{tokenInfo.contract_name}}</td>
                      <td >{{tokenInfo.contract_ticker_symbol}}</td>
                      <td >${{tokenInfo.quote_rate}}</td>
                      <td >{{tokenInfo.contract_address}}</td>
                   </tr>
                </tbody>
             </table>
          </div>
       </div>
       <!---->
    </div>
    <!----><!----><!----><!---->
 </div>