<ul class="navbar-nav ml-auto">
  <li>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      (click)="exampleModalCenter.show()"
    >
     Update Chain Setting
    </button>
    <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered">
      <div class="app-modal-header">
        <h5 class="modal-title">Update Chain</h5>
        <button
          type="button"
          class="close basic-close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="exampleModalCenter.hide()"
    
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="app-modal-body">
        <div class="settings-container">
          <div class="form-group">
            <label for="chaintype" style="color: black">Chain Type</label>
            <select
              class="form-control"
              id="chaintype"
              name="chaintype"
              [(ngModel)]="chaintype"
            >
              <option value="250">Fantom Mainnet</option>
              <option value="4002">Fantom Testnet</option>
            </select>
          </div>
          <form action="javascript:">
            <div class="form-group">
              <label style="color: black">Wallet Address</label>
              <input
                [(ngModel)]="chainaddress"
                id="walletid"
                type="text"
                class="form-control"
                placeholder="Text"
                name="walletid"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="app-modal-footer">
        <button
          type="button"
          class="btn btn-secondary p3"
          data-dismiss="modal"
          style="margin-right: 10px;"
          (click)="exampleModalCenter.hide()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary p3" (click)="onSave()"
        [placement]="'top'" ngbTooltip="To reset to default clear the cache/local storage">
          Save changes
        </button>
      </div>
    </app-ui-modal>
  </li>
  <li>
    <div class="drp-user dropdown" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <i class="feather icon-user"></i>
      </a>
      <div class="dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img
            src="assets/images/user/avatar-1.jpg"
            class="img-radius"
            alt="User-Profile-Image"
          />
          <span>John Doe</span>
          <a href="javascript:" class="dud-logout" title="Logout">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li>
            <a href="javascript:" class="dropdown-item"
              ><i class="feather icon-user"></i> Profile</a
            >
          </li>
          <li>
            <a href="javascript:" class="dropdown-item"
              ><i class="feather icon-mail"></i> My Messages</a
            >
          </li>
          <li>
            <a href="javascript:" class="dropdown-item"
              ><i class="feather icon-lock"></i> Lock Screen</a
            >
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
