<div class="row">
  <!-- table card start -->

  <div class="col-md-6 col-xl-6 p3">

    
    <app-card
      cardTitle="Wallet Information"
      [options]="false"
      *ngIf="tokenInfo && tokenInfo.length > 0"
    >
      <ngb-carousel [showNavigationArrows]="false" >
        <ng-template ngbSlide *ngFor="let item of tokenInfo">
          <img
            class="imageSize"
            *ngIf="item.logo_url.length > 0"
            src="{{ item.logo_url }}"
            alt="{{ item.contract_name }}"
          />
          <img
            class="imageSize"
            *ngIf="item.logo_url.length == 0"
            src="https://s3-ap-southeast-1.amazonaws.com/content-ewns/images/productimages/small/5fff3d958d5dbc10304de1bb.png"
            alt="{{ item.contract_name }}"
          />
          <div class="carousel-caption d-none d-md-block" style="color:#1abc9c;">
            
            <h2 >{{ item.contract_name }}</h2>
            <div>Contract Adress : {{ item.contract_address }}</div>
            <div>
              Balance : {{ item.balance }} ~ {{ item.contract_ticker_symbol }}
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </app-card>
  </div>
 
  <!-- table card end -->
</div>
