<div class="row">
  <!-- table card start -->

  <div class="col-md-11 col-xl-11 p3">
    <app-card cardTitle="Wallets Info" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr style="text-align: center">
              <th>#</th>
              <th>Coin Name</th>
              <th>Contract Address</th>
              <th>Balance</th>
              <th>Trend</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tokenInfo; let i = index">
              <td>
                <img
                  class="imageSize"
                  *ngIf="item.logo_url.length > 0"
                  src="{{ item.logo_url }}"
                  alt="{{ item.contract_name }}"
                />
                <img
                  *ngIf="item.logo_url.length == 0"
                  class="imageSize"
                  src="https://s3-ap-southeast-1.amazonaws.com/content-ewns/images/productimages/small/5fff3d958d5dbc10304de1bb.png"
                  alt="{{ item.contract_name }}"
                />
              </td>
              <td class="align">
                <span>{{ item.contract_name }}</span>
              </td>
              <td class="align">
                <span>{{ item.contract_address }}</span>
              </td>
              <td class="align">
                <span
                  >{{ item.balance }} ~ {{ item.contract_ticker_symbol }}</span
                >
              </td>
              <td>
                <app-apex-chart
                  [chartID]="'seo-chart-' + i"
                  [chartConfig]="this.seoChartData1"
                ></app-apex-chart>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- table card end -->

</div>
