.image-holder {
  vertical-align: middle;
  border-style: none;
  height: 297px;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
  box-shadow: -1px 0px 9px 1px;
  transition: all 0.3s ease;
  bottom: 0px;
  opacity: 1;
  cursor: pointer;
}
.image-holder:hover {
  bottom: 60px;
  opacity: 0.3;
}
.image-container {
  position: relative;
  height: 309px;
}
.description {
  font-size: 11px;
  position: absolute;
  top: 267px;
  display: flex;
  left: 8px;
  text-align: start;
  font-weight: bold;
  width: 260px;
  text-overflow: ellipsis;
  text-shadow: 0 0 4px #9e9e9e;
}

.details {
  padding: 11px;
  flex: 1;
  font-size: 12px;
  font-weight: bold;
}
.nft-footer {
  display: flex;
}
.text {
  color: grey;
}
