<ul>
    <li class="adidas">
      <div>
        <h2 class="fs">I-5923 RUNNER PRIDE</h2>
        <p class="fs">£99.95</p>
      </div>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
    </li>
    <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>

      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
      <li class="adidas">
        <div>
          <h2 class="fs">I-5923 RUNNER PRIDE</h2>
          <p class="fs">£99.95</p>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/881020/adidas01.png' alt='' />
      </li>
  </ul>