<div class="nft-container" *ngIf="NftData && NftData.length > 0; else elsepart">
  <div class="row" *ngFor="let rowItem of NftData">
    <div class="col-md-3" *ngFor="let col of rowItem; let i = index">
      <app-card
        class="app-card-holder"
        [cardTitle]="col.name"
        [options]="false"
      >
        <div
          class="image-container"
          (mouseenter)="onMouseIn(i)"
          (mouseleave)="onMouseOut()"
        >
          <img class="image-holder" [src]="col.image" loading="lazy" />
          <div class="description">
            {{ col.description }}
          </div>
        </div>
        <div class="nft-footer">
          <div class="details">
            <div class="text">Created By</div>
            <div class="value" [title]="col.created_by_address">
              {{ col.created_by_address.toString().slice(0, 10) }}
            </div>
          </div>
          <div class="details">
            <div class="text">Owned By</div>
            <div class="value" [title]="col.original_owner">
              {{ col.original_owner.toString().slice(0, 10) }}
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>
<ng-template #elsepart>
  <div *ngIf="loaded"
    style="position: absolute; left: 25%; top: 286px; text-shadow: 0 0 8px grey"
  >
    <h1>Sorry, you do not have any NFTs</h1>
  </div>
</ng-template>
