<div class="row">
   <div class="col-md-12 col-xl-5">
      <div  class="card ng-tns-c85-0 ng-trigger ng-trigger-cardRemove flat-card" style="opacity: 1;">
         <!---->
         <div  class="card-body ng-tns-c85-0 p-0 ng-star-inserted" style="">
            <div  class="row-table ng-tns-c85-0">
               <div  class="col-sm-6 card-body br">
                  <div  class="row">
                     <div  class="col-sm-4"><i  class="icon feather icon-file-text text-c-green mb-1 d-block"></i></div>
                     <div  class="col-sm-8 text-md-center">
                        <h5 >{{transactionService?.transactionList?.length}}</h5>
                        <span > # Transactions</span>
                     </div>
                  </div>
               </div>
               <div  class="col-sm-6 card-body">
                  <div  class="row">
                     <div  class="col-sm-4"><i  class="icon feather icon-repeat text-c-red mb-1 d-block"></i></div>
                     <div  class="col-sm-8 text-md-center">
                        <h5 >{{transactionService?.valueTransfers?.length}}</h5>
                        <span >Value Transfers</span>
                     </div>
                  </div>
               </div>
            </div>
            <div  class="row-table ng-tns-c85-0">
               <div  class="col-sm-6 card-body br">
                  <div  class="row">
                     <div  class="col-sm-4"><i  class="icon feather icon-package text-c-blue mb-1 d-block"></i></div>
                     <div  class="col-sm-8 text-md-center">
                        <h5 >{{transactionService?.deploymentTransactions?.length}}</h5>
                        <span >Contract Creation</span>
                     </div>
                  </div>
               </div>
               <div  class="col-sm-6 card-body">
                  <div  class="row">
                     <div  class="col-sm-4"><i  class="icon feather icon-codepen text-c-yellow mb-1 d-block"></i></div>
                     <div  class="col-sm-8 text-md-center">
                        <h5>{{transactionService?.interactionTransfers?.length}}</h5>
                        <span >Contract Interactions</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----><!----><!----><!---->
      </div>
   </div>

   <div class="col-md-12 col-xl-7">
      <div  class="card ng-tns-c85-0 ng-trigger ng-trigger-cardRemove flat-card" style="opacity: 1;">
         <!---->
         <div  class="card-body ng-tns-c85-0 p-0 ng-star-inserted" style="">
            <div  class="row-table ng-tns-c85-0">
               <div  class="col-sm-6 card-body br">
                  <div  class="row">
                     <div  class="col-sm-12 text-md-center">
                        <h5 >{{transactionService?.avgGasSpent}}</h5>
                        <span > Avg Gas Spent</span>
                     </div>
                  </div>
               </div>
               <div  class="col-sm-6 card-body">
                  <div  class="row">
                
                     <div  class="col-sm-12 text-md-center">
                        <h5 >{{transactionService?.totalValueTransfer}} FTM</h5>
                        <span >Total Value of transfers</span>
                     </div>
                  </div>
               </div>
            </div>
            <div  class="row-table ng-tns-c85-0">
               <div  class="col-sm-6 card-body br">
                  <div  class="row">
                    <div  class="col-sm-12 text-md-center">
                        <h5 >$ {{transactionService?.valueTransferUSD}}</h5>
                        <span >Total Value of transfers in USD</span>
                     </div>
                  </div>
               </div>
               <div  class="col-sm-6 card-body">
                  <div  class="row">
                     <div  class="col-sm-12 text-md-center">
                        <h5> {{transactionService?.mostinteracted}}</h5>
                        <span >Most Interacted Contract Address</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!----><!----><!----><!---->
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-12">
     <app-card [hidHeader]="true" cardClass="tab-card">
       <h5 class="mb-3">Transaction summary</h5>
       <ngb-tabset>
         <ngb-tab title="Transaction Explorer">
           <ng-template ngbTabContent>
               <app-explorer></app-explorer>
           </ng-template>
         </ngb-tab>
         <ngb-tab title="Value Transfer">
           <ng-template ngbTabContent>
             <app-value-transfer></app-value-transfer>
           </ng-template>
         </ngb-tab>
         <ngb-tab title="Smart Contract Creation">
           <ng-template ngbTabContent>
              <app-contract-deployment></app-contract-deployment>
           </ng-template>
         </ngb-tab>
         <ngb-tab title="Smart Contract Interaction">
            <ng-template ngbTabContent>
               <app-contract-interaction></app-contract-interaction>
            </ng-template>
          </ngb-tab>
       </ngb-tabset>
     </app-card>
   </div>
</div>

